<% layout('layouts/boilerplate') -%>


<div class="container">
  <% include ../partials/searchfilter %>
</div>


<div class="container">
  <% include ../partials/paginatePage %>
</div>

<% posts.docs.forEach(function(post){ %>
   <section id="gigs" class="container">
    <div class="gig" data-aos="fade-left">
        <div class="view-contnet">
            <div class="content">

                <div class="slider-frame">
                  <div class="slide-images">
                    <div class="img-container">
                      <% post.images.forEach(function(image) { %>
                        <img src="<%= image.url %>" alt="image" width="200px">
                        <% }); %>
                    </div>
                    <div class="img-container">
                        <% post.images.forEach(function(image) { %>
                          <img src="<%= image.url %>" alt="image" width="200px">
                          <% }); %>
                      </div>
                      <div class="img-container">
                          <% post.images.forEach(function(image) { %>
                            <img src="<%= image.url %>" alt="image" width="200px">
                            <% }); %>
                        </div>
                  </div>
                </div>
             
                                    
            </div>
              <div class="content-information">
                <div style="display: flex;" >

                  <h1 class="card-title"><%=  post.location %></h1>
                <div style="display: flex; align-items: center; margin: 0 50px;
                padding: 0 50px;">
                    <h3 >Price:</h3> <span style="margin: 1.2rem"><%= post.price%></span></h3>
                </div>   
                  
                </div>
                <h3><p>Description:</p></h3>
                <p><%= post.description %></p>
                </div>
        </div>
       
        <ul>
          <li class="Pay-content">Pay at the Accommodation</li>
          <li ><a href="/posts/<%= post.id %>"  class="btn btn-reverse">View Deal</a></li>
          
        </ul>
    </section>
    <% }); %>

    
<div class="container">
    <% include ../partials/paginatePage %>
</div>

<% include ../partials/footer -%>