
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title  %></title>
    <link type="text/css" href="/stylesheets/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/starability-basic.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
</head>
<body class="grey lighten-4">

    <!-- to nav -->
		    <nav class=" navbar-fixed z-depth-2 ">
		        <div class="nav-wrapper">
		          <a href="/" class=" center brand-logo">
                    <i class=" fas fa-map-marker-alt  "></i><span class="Log-text">Location</span>
                  </a>
		          <a href="#" data-target="mobile-nav" class="right sidenav-trigger">
		            <i class="material-icons">menu</i>
		          </a>
		          <ul class="right hide-on-med-and-down">
                        <% if(!currentUser) {  %>
                            <li><a href="/login">Login</a></li>
                                <% } else { %>
                                    <li>
                                        <a  class="dropdown-trigger" data-target="dropdownMenu"> Menu<i class="material-icons right">arrow_drop_down</i> </a>
                                    </li>
                            <% }  %>
                        <li><a href="/posts">Accommodation</a></li>
		          </ul>
		        </div>
		    </nav>
		  

     <!-- Dropdown Menu -->
    <ul id="dropdownMenu" class="dropdown-content" >
        <li><a href="/">Location</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/register">Sign up</a></li>
        <li><a href="/posts">Accommodation</a></li>
    </ul>


     <!-- side nav -->
     <ul class="sidenav" id="mobile-nav">
		    <li><a class="subheader">LOCATION</a></li>
            <li><a href="/login">Login</a></li>
            <li>
                <a href="#" class="dropdown-button" data-activates="dropdownMenu">
                    <select  >
                            <option value="1">Menu</option>
                            <option value="1"><a href="/profile">Profile</a></option>
                            <option value="1"><a href="/register">Sign up</a></option>
                            <option value="1"><a href="/posts">Accommodation</a></option>
                    </select>
                </a>
            </li>
            <li><a href="/posts">Accommodation</a></li>
		  </ul>
    
          <section class="container "   style="margin-top: 20px;"  >
                <div class="pictue__view  ">
                        <div class="main__img ">
                            <img src="<%= post.images[0].secure_url %>" class="materialboxed center" width="100%" alt="" >
                        </div>
                        <div class="sub--view__img">
                            <div class="sub__img1">
                                    <img src="<%= post.images[1].secure_url %>" class="materialboxed reponsive-img center" width="50%" alt="" >
                            </div>
                            <div class="sub__img2 ">
                                    <img src="<%= post.images[2].secure_url %>" class="materialboxed reponsive-img center" width=" 50%" alt="" >
                            </div>
                            <div class="sub__img3 ">
                                    <img src="<%= post.images[3].secure_url %>" class="materialboxed reponsive-img center" width=" 50%" alt="" >
                            </div> 
        
                        </div>
                    </div>
          </section>
          
            <!--  Accommodtion detials -->
            <section class="container" style="margin-top:50px ; margin-bottom:50px ;">
                
                <div class="recipe-details">
                    <div class="titles">

                        <div class="recipe-title"> <h5><%= post.location %></h5> </div>
                        <div class="recipe-title"> <h5><%= post.title%></h5> </div>
                        <div class="recipe-title"> <h5><%= post.price%></h5> </div>
                        <div class="recipe-title"> <h5><%= post.PhoneNo%></h5> </div>
                    </div>
                    <div>
                        <%  for(let i = 0; i < 5; i++) {  %>
                            <%  if(i < floorRating) {  %>
                                <!-- display a full star -->
                                <i class="fas fa-star"></i>
                            <%  } else if((post.avgRating - i) > 0 && (post.avgRating -i ) < 1) { %>
                                <!-- display a half star -->
                                <i class="fas fa-star-half-empty"></i>
                            <%  } else {  %>
                                <!-- display an empty star--> 
                                <i class="fas fa-star-half-o"></i>
                            <%    }   %>
                        <%   }  %>
                            <%= `${post.avgRating} star${post.avgRating === 1 ? '' : 's'}` %>       
                        </div>
                    <div class="recipe-ingredients">
                       <p><h5>Description:</h5><%= post.description %></p>
                    </div>
                </div>
                
                <!--  Book, Edit, Delete -->
                <div class="titles adds">
                    <div >
                        <a href="" class="btn green lighten-1"> BOOK</a>
                    </div>
                        <br>
                        <% if(currentUser && post.author.equals(currentUser._id)) { %>
    
                            <div>
                                <a href="/posts/edit/<%= post.id %>" class="btn blue lighten-1">Edit</a>
                            </div>
                            <div>
                                <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn red lighten-1 right-align" value="Delete" >
                                </form>
                            </div>
                            <% } %>        
                </div>
                     <!-- Create Reviews -->
                     <% if(currentUser) { %>
                        <div class="row" style="margin-top:50px ;">
                            <h5>Create Review</h5>
                            <form action="/posts/<%= post.id %>/Reviews" method="POST">
                                    <div class=" col s6 ">
                                        <div class="input-field">
                                          <input type="text" name="review[body] " id="icon_prefix" class="validate review--comment " >
                                          <label class="postion__content" for="icon_prefix">Leave a Review</label>
                                      </div>
                                    </div>
                                <div class=" col s5 ">
                                    <div>
                                            <fieldset class="starability-basic">
                                                
                                                <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                                                <input type="radio" id="rate1" name="review[rating]" value="1" />
                                                <label for="rate1" title="Terrible">1 star</label>
                                                <input type="radio" id="rate2" name="review[rating]" value="2" />
                                                <label for="rate2" title="Not good">2 stars</label>
                                                <input type="radio" id="rate3" name="review[rating]" value="3" />
                                                <label for="rate3" title="Average">3 stars</label>
                                                <input type="radio" id="rate4" name="review[rating]" value="4" />
                                                <label for="rate4" title="Very good">4 stars</label>
                                                <input type="radio" id="rate5" name="review[rating]" value="5" />
                                                <label for="rate5" title="Amazing">5 stars</label>
                                            </fieldset> 
                                            <br>
                                            <input type="submit"  class="btn blue lighten-1">
                                    </div>
                                </div>
                                    
                          </form>
                        </div>
                          <% } else { %>
                            <h5><a href="/login?returnTo=true"> Create a Review</a></h5>
                        <% } %>
                        <!--  Reviews -->
                        <% post.reviews.forEach(function(review){ %>
                        <div>
                            <h5>Reviews</h5> 
                            <div class="card-panel recipe white row container">
                                    <img src="../img/dish.png" class="respondsive-img circle" alt="recipe thumb">
                                    <div class="recipe-details">
                                        <div style="display: inline-flex;">
                                                <div class="recipe-title"><%= review.author.username %></div>
                                                <div class="recipe-title "  style="padding-left:130px;"><%= review.rating %></div>
                                            </div>
                                        <div class="recipe-ingredients"> <%= review.body %></div>
                                    </div>
                                    
                                    </div>
                                    <%  if( currentUser && review.author.equals(currentUser._id)) { %> 
                                        
                                        
                                               <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" class="center" method="POST" >
                                                <input type="submit" class="btn red lighten-1 right-align" value="Delete" >
                                            </form>
                                        
                                        
                                        <a class="btn blue lighten-1 toggle-edit-form" style="margin-bottom: 20px;">Edit</a>
                                        <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
                                            <textarea name="review[body]" required><%= review.body %></textarea>
                                            <fieldset class="starability-basic">
                                                    <legend>Rating:</legend>
                                                    
                                                    <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                                                    <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
                                                    <label for="edit-rate1" title="Terrible">1 star</label>
                                                    <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
                                                    <label for="edit-rate2" title="Not good">2 stars</label>
                                                    <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
                                                    <label for="edit-rate3" title="Average">3 stars</label>
                                                    <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
                                                    <label for="edit-rate4" title="Very good">4 stars</label>
                                                    <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
                                                    <label for="edit-rate5" title="Amazing">5 stars</label>
                                                  </fieldset>
                                                  <br>
                                            <input type="submit" class="btn green "  value="Update" >
                                    </form>
                                    
                                    <script>
                                            $('#edit-rate<%= review.rating %>').prop('checked', true);
                                    </script>
                                    
                                    <% } %>
                               
                                       <% }); %>
                                
                         </div>

                        
                        

            </section>
            <footer class="footer">
                    <div class="container" style="padding: 20px;">
                        <div>
                            <div class=" center-align">&copy; 2019 <i class="fas fa-map-marker-alt"></i>Location</div>
                          </div>
                          <hr>
                          <div class="center-align">
                              Made with<i class="fa-heart"></i> in Soshanguve
                          </div>
                    </div>
                     
                    </footer>
            
        
                    
            <script src="/javascripts/materialize.min.js"></script>
            <script src="/javascripts/ui.js"></script>
           
        </body>
        </html>